body,
html {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 992px) {
    html {
        font-size: 24px;
    }
}

body {
    font-family: 'Bitter', serif;
}

.container-fluid {
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../images/Land_1590x1060.jpg) 50%;
    background-size: cover;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: #ECDFC4; /* #A37F62; */
}

header p {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #ECDFC4;
}

button, input {
    font-family: 'Bitter', serif;
}

.btn-p {
    display: block;
    margin: 70px auto;
    padding: 5px 40px;
    border: solid 1px #ECDFC4;
    border-radius: 5px;
    font-size: 1.3rem;
    color: #ECDFC4;
    background-color: transparent;
    transition: 0.3s;
}

.btn-p:hover {
    color: #000000; /* #E18C8C; */
    background-color: #ECDFC4;
    border: solid 1px #ECDFC4;
    cursor: pointer;
}

.btn-p:focus {
    outline: none;
}

.services {
    padding: 70px 0;
    background-color: #CECECE; /* #B1A587; */
}

.services h2 {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    color: #1E0005;
}

.service {
    padding: 30px 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.service:hover {
    color: #1E0005;
    background-color: #ECDFC4;  /* #988257; */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.fas, .far {
    display: block;
    margin-bottom: 10px;
    font-size: 50px;
}

.quote {
    padding: 50px 0;
    background-color: #000E0E; /* #1A0C00; */
}

.quote p {
    color: #A47A80;
}

#quotation {
    padding: 45px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.7rem;
    text-align: center;
    background: url(../images/ql.png),
                url(../images/qr.png);
    background-size: 50px 50px;
    background-position: top 0 left 0,
                         bottom 0 right 0;
    background-repeat: no-repeat;
}

#author {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 5%;
}

/* Products Section */
.products {
    padding: 70px 0;
    background-color: #83A4A0;
}

.pros {
    padding: 40px 0;
}

.rev {
    display: flex;
    flex-direction: row-reverse;
}

.text {
    display: flex;
    align-items: center;
}

.text-inner p {
    text-align: center;
    font-size: 1.2rem;
}

.text-inner button {
    display: block;
    margin: 10px auto;
    padding: 10px 45px;
    font-size: 1.2rem;
    border-radius: 5px;
    color: #041E1E;
    background-color: #FFCCCC;
    border: none;
    transition: 0.3s;
}

.text-inner button:hover {
    background-color: #041E1E;
    color: #7E9D9D;
    cursor: pointer;
}

.text-inner button:focus {
    outline: none;
}

.text-inner a:hover {
    text-decoration: none;
}

.image {
    margin: auto;
    width: 30vw;
    height: 30vw;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    background-size: cover;
}

@media only screen and (max-width: 992px) {
    .image {
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    }
}

#pro2 {
    background-image: url(../images/pro2.jpg);
}

#pro1 {
    background-image: url(../images/pro1.jpg);
    background-position: center;
}

/* Logos Section */
.logos {
    padding: 80px 20px;
    background-color: #320606;
    overflow: hidden;
}

$animationSpeed: 40s;

/* Animation */
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.logos .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    /* width: calc(250px * 14); */
}

.logos .slide-track .fab {
    margin: 10px;
    font-size: 80px;
    color: #dadada; /* #ECDFC4; */
}

/* Subscribe Form */
.subscribe {
    padding: 50px 0;
    background-color: #B1A587; /* #958263; */
    text-align: center;
}

.subscribe h2 {
    margin: 30px;
    color: #2E1604;
}

.subscribe form {
    padding-bottom: 50px;
    border-bottom: solid 1px #2E1604;
}

.name, .email {
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: #C3BBAC; /* #B29D90; */
}

.name{
    width: 15%;
}

.email {
    display: block;
    margin: 5px auto;
    width: 30%;
}

@media only screen and (max-width: 992px) {
    .name {
        display: block;
        width: 45%;
        margin: 5px auto;
    }

    .email {
        width: 45%;
    }

    input.btn-s {
        display: block;
        width: 45%;
        margin: 5px auto;
    }
}

.name:focus, .email:focus {
    border: none;
    outline: none;
}

.name:active, .email:active {
    outline: none;
}

.btn-s {
    width: 30%;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    color: #4E2B15;
    background-color: #C3BBAC; /* #B29D90; */
    transition: 0.3s;
}

.btn-s:hover {
    color: #958263;
    background-color: #000000;
    opacity: 0.6;
    cursor: pointer;
}

.btn-s:focus {
    outline: none;
}

footer {
    padding: 0px 0 40px 0;
    background-color: #B1A587; /* #958263; */
    text-align: center;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer ul li a {
    color: #000000;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 35px;
    opacity: 0.7;
    transition: 0.3s;
}

footer ul li a:hover {
    color: #1A0C00;
    opacity: 1;
    text-decoration: none;
    background-color: #88795F; /* #88795F */
    cursor: pointer;
}

/* footer ul li a:visited {
    color: #000000;
    text-decoration: none;
}

/*******************************/
/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=50u0A0kk5bS8hlMcgeQri8aMP3g */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #5F3E23 }	/* Main Primary color */
.color-primary-1 { color: #AE9581 }
.color-primary-2 { color: #765D49 }
.color-primary-3 { color: #41230A }
.color-primary-4 { color: #1A0C00 }

.color-secondary-1-0 { color: #5F4D23 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #AEA081 }
.color-secondary-1-2 { color: #766949 }
.color-secondary-1-3 { color: #41310A }
.color-secondary-1-4 { color: #1A1200 }

.color-secondary-2-0 { color: #59212A }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #A47A80 }
.color-secondary-2-2 { color: #70454C }
.color-secondary-2-3 { color: #3D0911 }
.color-secondary-2-4 { color: #180004 }

.color-complement-0 { color: #153939 }	/* Main Complement color */
.color-complement-1 { color: #506969 }
.color-complement-2 { color: #2D4848 }
.color-complement-3 { color: #052626 }
.color-complement-4 { color: #000E0E }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 95, 62, 35,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(174,149,129,1) }
.rgba-primary-2 { color: rgba(118, 93, 73,1) }
.rgba-primary-3 { color: rgba( 65, 35, 10,1) }
.rgba-primary-4 { color: rgba( 26, 12,  0,1) }

.rgba-secondary-1-0 { color: rgba( 95, 77, 35,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(174,160,129,1) }
.rgba-secondary-1-2 { color: rgba(118,105, 73,1) }
.rgba-secondary-1-3 { color: rgba( 65, 49, 10,1) }
.rgba-secondary-1-4 { color: rgba( 26, 18,  0,1) }

.rgba-secondary-2-0 { color: rgba( 89, 33, 42,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(164,122,128,1) }
.rgba-secondary-2-2 { color: rgba(112, 69, 76,1) }
.rgba-secondary-2-3 { color: rgba( 61,  9, 17,1) }
.rgba-secondary-2-4 { color: rgba( 24,  0,  4,1) }



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */
